@model List<Category>

    <ul class="list-unstyled mb-0">
        @foreach (var cat in Model)
        {
            <li>
                @Html.ActionLink("All","Index","Home")
            </li>
            <li>
                <a href="@Url.Action("Index", "Home", new { cid = cat.Id})">@cat.CategoryName</a>
            </li>
        }
    </ul>